body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0074cc, #003366);
    color: white;
    font-family: 'Kdam Thmor Pro', 'Arial', sans-serif;
}

