<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Культуро</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-design-iconic-font/css/material-design-iconic-font.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="/static/images/icon_pages.png" type="image/x-icon">
    </head>
    <body>
        <div class="wrapper" style="background-image: url(/static/images/background.jpg);">
            <div class="inner code">
                <div class="form">
                    <h3>Подтвердите вашу почту</h3>
                    <button class="buttonMail" onclick="window.location.href='{{ email }}'">
                        Открыть
                        <i class="zmdi zmdi-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>